node_modules
dist
.next
.turbo
coverage
.env
.env.local
apps/api/.env
apps/web/.env.local
*.log
.DS_Store
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# secrets & local
.env.*
!.env.example
!**/.env.example
!.env.coolify.example
apps/web/.env*.local

# OS / IDE
.idea
.vscode
*.pem
